<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- css only -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.1/css/all.min.css" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css">
        <link rel="stylesheet" href="/css/address.css">
        <!-- javascript bundle with popper -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
        <title>Eparfum</title>
    </head>
<body>
  <%- include('../partials/navbar.ejs') %>
  
  <% if (address.length > 0) { %>
    <div class="address-container mt-5">
      <% address.forEach(addr => { %>
        <% if (addr.is_default === true) { %>
          <div class="address-card">
            <h5 class="card-title"><i class="fas fa-home"></i>Main Address</h5>
            <p class="card-text">
              <b><%= addr.name %></b> | <%= addr.phone_number %> <br>
             <em> <%= addr.subdistrict %>, <%= addr.postal_code %>, <%= addr.city %>, <%= addr.province %></em> <br>
              <em><%= addr.detail_address %></em>
            </p>
            <div class="btn-group">
              <button class="btn btn-primary" onclick="showAddress(<%= addr.id %>)" data-bs-toggle="modal" data-bs-target="#addressUpdateModal"><i class="bi bi-pencil"></i> Update</button>
              <button class="btn btn-danger" disabled><i class="bi bi-trash"></i> Remove</button>
              <form method="POST" action="/user/address?_method=PATCH">
                <input type="number" name="addressId" hidden value="<%= addr.id %>">
                <button class="btn btn-success" disabled><i class="bi bi-arrow-repeat"></i> Set Main</button>
              </form>
            </div>
          </div>
        <% } %>
      <% }) %>
  
       <% address.forEach(addr => { %>
          <% if (addr.is_default === false) { %>
            <div class="address-card">
              <p class="card-text">
                <b><%= addr.name %></b> | <%= addr.phone_number %> <br>
                <em> <%= addr.subdistrict %>, <%= addr.postal_code %>, <%= addr.city %>, <%= addr.province %></em> <br>
              <em><%= addr.detail_address %></em>
              </p>
              <div class="btn-group">
                <button class="btn btn-primary" onclick="showAddress(<%= addr.id %>)" data-bs-toggle="modal" data-bs-target="#addressUpdateModal"><i class="bi bi-pencil"></i> Update</button>
                <button class="btn btn-danger" onclick="removeAddress(<%= addr.id %>)" data-bs-toggle="modal" data-bs-target="#confirmationModal"><i class="bi bi-trash"></i> Remove</button>
                <form method="POST" action="/user/address?_method=PATCH">
                  <input type="number" name="addressId" hidden value="<%= addr.id %>">
                  <button class="btn btn-success"><i class="bi bi-arrow-repeat"></i> Set Main</button>
                </form>
              </div>
            </div>
          <% } %>
        <% }) %>
        
        <div class="add-address-btn">
          <button type="button" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#addressModal"><i class="fas fa-map-marker-alt"></i> Add Address</button>
        </div>
      </div> 
  <% } else { %>
    <div class="no-address">
      <p><%= msg %></p>
      <button type="button" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#addressModal"><i class="fas fa-map-marker-alt"></i> Add Address</button>
    </div>
  <% } %>
  <!-- Modal Add Address -->
  <div class="container mt-5">
    <div class="modal fade" id="addressModal" tabindex="-1" aria-labelledby="addressModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="addressModalLabel">Add Address</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form method="POST" action="/user/address">
                        <div class="mb-3">
                            <label for="nameInput" class="form-label">Name</label>
                            <input type="text" name="name" class="form-control" id="nameInput" placeholder="Enter your name" required>
                        </div>
                        <div class="mb-3">
                            <label for="phoneInput" class="form-label">Phone Number</label>
                            <input type="tel" name="phone_number" class="form-control" id="phoneInput" placeholder="Enter your phone number" required>
                        </div>
                        <div class="row mb-3">
                            <div class="col-md-6">
                                <label for="provinceInput" class="form-label">Province</label>
                                <input type="text" name="province" class="form-control" id="provinceInput" placeholder="Enter your province" required>
                            </div>
                            <div class="col-md-6">
                                <label for="cityInput" class="form-label">City</label>
                                <input type="text" name="city" class="form-control" id="cityInput" placeholder="Enter your city" required>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-md-6">
                                <label for="subdistrictInput" class="form-label">Subdistrict</label>
                                <input type="text" name="subdistrict" class="form-control" id="subdistrictInput" placeholder="Enter your subdistrict" required>
                            </div>
                            <div class="col-md-6">
                                <label for="postalCodeInput" class="form-label">Postal Code</label>
                                <input type="text" name="postal_code" class="form-control" id="postalCodeInput" placeholder="Enter your postal code" required>
                            </div>
                        </div>
                        <div class="mb-3">
                            <label for="addressInput" class="form-label">Detail Address</label>
                            <textarea class="form-control" name="detail_address" id="addressInput" rows="3" placeholder="Enter your detail address" required></textarea>
                        </div>
                        <button type="submit" class="btn-address btn-secondary">Save Address</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Modal Add Address -->

<!-- Modal Update Address -->
<div class="container mt-5">
  <div class="modal fade" id="addressUpdateModal" tabindex="-1" aria-labelledby="addressUpdateModalLabel" aria-hidden="true">
      <div class="modal-dialog">
          <div class="modal-content">
              <div class="modal-header">
                  <h5 class="modal-title" id="addressModalLabel">Update Address</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                  <form id="addressUpdateForm" method="POST">
                      <div class="mb-3">
                          <label for="nameInputUpdate" class="form-label">Name</label>
                          <input type="text" name="name" class="form-control input-form" id="nameInputUpdate" required>
                      </div>
                      <div class="mb-3">
                          <label for="phoneInputUpdate" class="form-label">Phone Number</label>
                          <input type="tel" name="phone_number" class="form-control input-form" id="phoneInputUpdate" required>
                      </div>
                      <div class="row mb-3">
                          <div class="col-md-6">
                              <label for="provinceInputUpdate" class="form-label">Province</label>
                              <input type="text" name="province" class="form-control input-form" id="provinceInputUpdate" required>
                          </div>
                          <div class="col-md-6">
                              <label for="cityInputUpdate" class="form-label">City</label>
                              <input type="text"  name="city" class="form-control input-form" id="cityInputUpdate" required>
                          </div>
                      </div>
                      <div class="row mb-3">
                          <div class="col-md-6">
                              <label for="subdistrictInputUpdate" class="form-label">Subdistrict</label>
                              <input type="text" name="subdistrict" class="form-control input-form" id="subdistrictInputUpdate" required>
                          </div>
                          <div class="col-md-6">
                              <label for="postalCodeInputUpdate" class="form-label">Postal Code</label>
                              <input type="text" name="postal_code" class="form-control input-form" id="postalCodeInputUpdate" required>
                          </div>
                      </div>
                      <div class="mb-3">
                          <label for="addressInputUpdate" class="form-label">Detail Address</label>
                          <textarea class="form-control input-form" name="detail_address" id="addressInputUpdate" rows="3" required></textarea>
                      </div>
                      <button type="submit" class="btn-update-address btn-primary">Update Address</button>
                  </form>
              </div>
          </div>
      </div>
  </div>
</div>
<!-- End Modal Update Address -->

<!-- Modal Confirm Remove -->
<div class="modal fade" id="confirmationModal" tabindex="-1" aria-labelledby="confirmationModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="confirmationModalLabel">Remove Address</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Are you sure you want to delete this address?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
        <form method="POST" id="removeAddressForm">
          <button type="submit" class="btn btn-danger" id="removeButton">Remove</button>
        </form>
      </div>
    </div>
  </div>
</div>
<!-- End Modal Confirm Remove -->
  <%- include('../partials/footer.ejs')  %>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0/js/bootstrap.bundle.min.js"></script>
<script src="/js/script.js"></script>
</body>
</html>